.container {
    background-color: rgb(207, 207, 207);
    position: absolute;
    width: 100%;
    height: 100%;
}

.volver:hover {
    background-color: black;
    color: white;
}

.titulo {
    position: fixed;
    left: 100px;
    top: 70px
}


.form {
    /* position: fixed;
    top: 100px;
    left: 600px; */
    padding-top: 150px;
    display: flex;
    align-items: start;
    padding-left: 100px;
    justify-content: center;
    size: 70px;
}

.titulo {
    color: rgb(24, 116, 170);
    font-weight: bold;
}

.nombre {
    font-weight: bold;
    font-style: italic;
}

.input1 {
    background: transparent;
    border: 2px solid black;

}

.email {
    font-weight: bold;
    font-style: italic;
}

.input2{
    background: transparent;
    border: 2px solid black;
    margin-top: 30px;
}

.mensaje{
    font-weight: bold;
    font-style: italic;
    position: fixed;
    padding-left: 3px;
    padding-top: 10px;
}

.input3{
    background: transparent;
    border: 2px solid black;
    margin-top: 60px;
    width: 800px;
    height: 100px;
}

.send{
    margin-top: 30px;
    width: 800px;
    height: 20px;
    background-color: rgb(189, 189, 189);
    font-weight: bold;
}

.send:hover{
    background-color: rgb(126, 126, 126);
}

.borde{
    border: 2px solid black;
    width: 1000px;
    height: 550px;
    margin-top: 50px;
    margin-left: 70px;
}