.container {
  background: linear-gradient(to bottom, #5bc5a7, #137078);
  height: 1600px;
}

.formulario {
  background-color: rgb(170, 175, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.formulario section {
  display: flex;
  width: 40%;
  height: 60px;
  column-gap: 5%;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.text {
  width: 50%;
  height: 50%;
}

.editButton {
  padding: 2px;
  scale: 120%;
}

/* .submitButton:hover {
  background-color: red;
  cursor: pointer;
} */
