.fondo {
  background: linear-gradient(to bottom, #137078, #5bc5a7);
  width: 100%;
  height: 100%;
  position: absolute;
}

.topDiv {
  display: flex;
  justify-content: center;
  padding-top: 1vh;
}
