.none {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.input {
  /* margin: 10px;
  padding: 10px; */
  height: 3.5vh;
  margin-bottom: 2.5vh;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  font-size: 1.1vw;
  width: 90%;
}

.button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.documentList {
  display: block;
  margin: 10px 0;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.documentList:hover {
  color: #0099ff;
  text-decoration: underline;
}
