.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 124, 124);
    height: 1600px;
    align-items: center;
}

.containerDatos{
    background-color: rgb(203, 211, 218);
    width: 600px;
    border: solid black 3px;
}

.error{
    font-size: small;
    color: red
}

.botonChek{
    width: 50px;
    margin-left: 465px;
}

.botonVolver{
    margin-left:20px
}

.conteinerbotones{
    display: flex;
    flex-direction: row;
}