.container {
   /* background-image: url("./Lapices.jpg");  */
  /* background-image: url("https://plus.unsplash.com/premium_photo-1675490806341-78afd4f8dd9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); */
  background-image: linear-gradient(to bottom, rgb(6,124,124), rgb(173, 173, 173)); 
  min-height: 100vh;
  
}

.header {
  padding: 30px;
}

.h1{
  color: white ;
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: 60px;
}

.libro{
  color: white;
  width: 40px;
  height: 40px;
}

.link2{
  margin-right: 50%;
  background: transparent;
  color: white;
  padding: 10px;
  border: white solid 2px;
}


.link3{
  background: transparent;
  color: white;
  padding: 10px;
  border: white solid 2px;
}

.container2{
  border: 2px solid rgb(4, 4, 80);
  padding: 40px;
}

.h2{
  font-style: italic;
  margin: 2%;
  color: rgb(4, 4, 80);
}

.img{
  height: 200px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 2% ;
}


.p0{
  font-size:x-large;
  color: rgb(4, 4, 80);
  font-style: oblique;
}

.divFooter {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  text-align: center;
  margin-top: 2%;
}

.a1,
.a2,
.a3 {
  margin: 10%;
  margin-bottom: 20%;
  color: grey;
  text-decoration: underline;
}

.p4{
  margin: 1%;
  color: grey;
}

.footer2{
  color: grey;
}

