.container {
   /* background-image: url("./Lapices.jpg");  */
  /* background-image: url("https://plus.unsplash.com/premium_photo-1675490806341-78afd4f8dd9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); */
  background-image: linear-gradient(to bottom, rgb(6,124,124), rgb(173, 173, 173)); 
  min-height: 100vh;
  
}

.header {
  padding: 30px;
}

.h1{
  color: white ;
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: 60px;
}

.libro{
  color: white;
  width: 40px;
  height: 40px;
}

.link2{
  margin-right: 50%;
  background: transparent;
  color: white;
  padding: 10px;
  border: white solid 2px;
}


.link3{
  background: transparent;
  color: white;
  padding: 10px;
  border: white solid 2px;
}

.container2{
  border: 2px solid rgb(4, 4, 80);
  padding: 40px;
}

.h2{
  font-style: italic;
  margin: 2%;
  color: rgb(4, 4, 80);
}

.img{
  height: 200px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 2% ;
}

.p0{
  font-size:x-large;
  color: rgb(4, 4, 80);
  font-style: oblique;
}

.divFooter {
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  text-align: center;
  margin-top: 2%;
}

.a1,
.a2,
.a3 {
  margin: 10%;
  margin-bottom: 20%;
  color: grey;
  text-decoration: underline;
}

.p4{
  margin: 1%;
  color: grey;
}

.footer2{
  color: grey;
}

/* .div1 {
  background: rgb(6, 124, 124);
  padding: 2px;
  border: white solid 2px;
}

.title {
  color: white;
}

.title2 {
  font-style: italic;
  color: white;
}

.div2 {
  position: fixed;
  top: 200px;
  right: 100px;
  border: 3px solid rgb(6, 124, 124);
  border-radius: 20px;
  height: 250px;
  padding: 15px;
  width: 200px;
  background-color: rgb(248, 248, 248);
}

.libro{
  position: fixed;
  top: 35px;
  right: 650px;
  color: white;
  width: 40px;
  height: 40px;
}

.img {
  height: 110px;
  justify-content: center;
  border-radius: 10px;
}

.acceder {
  position: fixed;
  right: 165px;
  top: 420px;
  padding: 12px;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  color: black;
}

.acceder:hover {
  background: rgb(6, 124, 124);
  color: white;
}

.img2 {
  height: 300px;
  position: fixed;
  left: 100px;
  border-radius: 5px;

}

.links {
  background-color: rgb(4, 67, 108);
  padding: 19px;
  border: white solid 2px;
}



.link2 {
  position: fixed;
  top: 140px;
  left: 100px;
  background: transparent;
  color: white;
  padding: 6px;
  border: white solid 2px;
}

.link2:hover {
  background: white;
  color: black;
}

.link3 {
  position: fixed;
  top: 140px;
  left: 400px;
  background: transparent;
  color: white;
  padding: 6px;
  border: white solid 2px;
}

.link3:hover {
  background: white;
  color: black;
}


.divFooter {
  background-color: #f5f5f5;
  padding: 10px;
  padding-bottom: 100%;
  padding-left: 20%;
  margin-top: 660px;
} */

/* .footer{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  margin-left: -100px;
  color: black;
  
} */

/* .footer {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: beige;
} */

/* .footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  
}

.footer2 {
  position: absolute;
  bottom: 0;
  left: 58%;
  transform: translateX(-50%);
  margin-left: -100px;
  color: black;
 
} */

/* .a1,
.a2,
.a3 {
  text-align: center;
} */

/* .a1 {
  color: white;
  text-decoration: none;
  
}

.a1:hover {
  text-decoration: underline;
}

.a2 {
  color: white;
  text-decoration: none;
  margin-right: 90px;
  margin-left: 100px; 
  
}

.a2:hover {
  text-decoration: underline;
}

.a3 {
  color: white;
  text-decoration: none;
  margin-right: 20%;

}

.a3:hover {
  text-decoration: underline;
} */