.container {
  background: linear-gradient(to bottom, #5bc5a7, #137078);
  position: relative;
  height: 100vh;
}

.fondo {
  background-color: rgb(170, 175, 179);
  position: absolute;
  width: 90%;
  height: 70%;
  left: 5%;
  top: 20%;
}

.select {
  width: 20%;
  height: 4vh;
}

.link {
  text-decoration: none;
  color: black;
}
