.container {
  background-color: rgb(6, 124, 124);
  position: relative;
  height: 100vh;
}

.fondo {
  background-color: rgb(170, 175, 179);
  position: absolute;
  width: 90%;
  height: 70%;
  left: 5%;
  top: 20%;
}

.select {
  position: absolute;
  width: 20%;
  height: 4vh;
}
