.cardsContent{
    background-color: rgb(1, 99, 116);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fondo{
    background-color: rgb(6, 124, 124);
    width: 100%;
    height: 100%;
    position: absolute;
    
}

